<header class="text-gray-600 body-font border-y-2 border-black dark:text-white dark:bg-neutral-900 dark:border-white">
  <div
    class="container mx-auto flex flex-wrap px-5 flex-col md:flex-row items-center"
  >
    <a
      class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
      href="/"
    >
      <span class="ml-3 text-3xl font-logo border-x-2 px-2 border-black dark:text-white dark:border-white"
        >MK</span
      >
    </a>
    <nav
      class="md:ml-auto flex flex-wrap items-center text-base justify-center font-hero"
    >
      <a href="about" class="hover:text-gray-900 border-x-2 border-black p-2 dark:border-white"
        >About</a
      >
      <a
        href="#projects"
        class="hover:text-gray-900 border-black border-r-2 p-2 dark:border-white"
        >Projects</a
      >
      <img
        class="p-2 border-black invert dark:invert-0"
        src="../assets/sun.svg"
        alt="Sun"
      />
      <input type="checkbox" name="toggle" id="toggle" class="hidden" />
      <label for="toggle">
        <div class="w-9 h-5 flex items-center bg-gray-500 rounded-full p-1">
          <div class="toggle-switch w-4 h-4 bg-gray-100 rounded-full shadow-md transform duration-600 ease-in-out"></div>
        </div>
      </label>
      <img
        class="p-2 border-r-2 border-black dark:invert"
        src="../assets/Moon.svg"
        alt="Moon"
      />
    </nav>
  </div>
</header>
