<nav>
  <div class="logo hand">Mihir.</div>
  <div class="nav-links">
    <a href="#projects">Projects</a>
    <a href="#skills">Skills</a>
    <a href="#about">About</a>
    <a href="#connect">Connect</a>
  </div>
</nav>
