---
import "../styles/index.css";
import Navbar from "../components/navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio</title>
  </head>
  <body>
    <div class="custom-cursor"></div>
    <Navbar />
    <slot />
    <script>
      import "../scripts/global-cursor.js";
    </script>
  </body>
</html>
